
<!-- Footer -->

<style>
    .f-info {
  background-color: #f8f9fa;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.f-info-socials i {
  color: #333;
  transition: color 0.3s;
}

.f-info-socials i:hover {
  color: #ff385c; /* Airbnb-style pink */
}

.f-info-links a {
  color: #333;
  text-decoration: none;
}

.f-info-links a:hover {
  text-decoration: underline;
}
</style>


<footer>
  <div class="f-info text-center mt-5 py-3">
    <div class="f-info-socials mb-2">
      <a href="https://www.facebook.com/wanderlusttravelmagazine"><i class="fa-brands fa-square-facebook fa-lg mx-2"></i></a>
      <a href="https://www.instagram.com/wanderlustmag"><i class="fa-brands fa-square-instagram fa-lg mx-2"></i></a>
      <a href="https://uk.linkedin.com/company/wanderlust"><i class="fa-brands fa-linkedin fa-lg mx-2"></i></a>
    </div>
    <div class="f-info-brand mb-2">
      &copy; WanderLust Private Limited
    </div>
    <div class="f-info-links">
      <a href="/privacy" class="mx-2">Privacy</a>
      <a href="/terms" class="mx-2">Terms</a>
    </div>
  </div>
</footer>
