
<style>
  .search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover{
    background-color: #fe424d;
    color: white;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
  .redcompass{
    margin-top: 0.2rem;
    margin-left: 1rem;
  }
</style>


<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass redcompass"></i> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/listings"><b>Discover Your Next Destination</b></a>
      </li>
      
    </ul>
    <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Find Your Next Stay"/>
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
    </div>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/listings/new">Airbnb your Home</a>
      </li>
      <% if(!userstatus) {%>
      <li class="nav-item active">
        <a class="nav-link" href="/signup" ><b>SignUp</b><span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login"><b>Login</b></a>
      </li>
      <% }%>
      <% if(userstatus) {%>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      <% }%>
    </ul>
    
  </div>
</nav>